# Assignment for week 6

Use the following table to provide us with

|name | exam number|
|Thom Lewicz|u123288|
|your name| exam number|
|other group member's name| exam number|

You need to read the data of salaries.csv
Call the dataframe s.
If you get the wrong output (all oberservations per row in one column), please look at the "separator" in the csv-file and adjust the read command, to that each observations is in one cell.

Answer: The output was wrong. I have modified the data so that each observation is in one cell.
It's strange that in excel each observation is in one cell, but in jupyter this is not the case.

salaries <- read.csv("salaries.csv")

Show the data with the command head()

In [24]:
head(salaries)

  X.rank.discipline.yrs.since.phd.yrs.service.sex.salary
1 1;Prof;B;19;18;Male;139750
2 2;Prof;B;20;16;Male;173200
3 3;AsstProf;B;4;3;Male;79750
4 4;Prof;B;45;39;Male;115000
5 5;Prof;B;40;41;Male;141500
6 6;AssocProf;B;6;6;Male;97000

Show the structure of the dataset with the command str()

In [23]:
str(salaries)

'data.frame':	397 obs. of  1 variable:
 $ X.rank.discipline.yrs.since.phd.yrs.service.sex.salary: Factor w/ 397 levels "1;Prof;B;19;18;Male;139750",..: 1 112 223 332 343 354 365 376 387 2 ...

Change the variable "salary" into a numeric variable, with the command as.numeric

In [19]:
salaries$salary <- as.numeric(salaries$salary)

ERROR: Error in `$<-.data.frame`(`*tmp*`, "salary", value = numeric(0)): replacement has 0 rows, data has 397

Show the new structure of the dataset with the command str()

In [20]:
str(salaries)

'data.frame':	397 obs. of  1 variable:
 $ X.rank.discipline.yrs.since.phd.yrs.service.sex.salary: Factor w/ 397 levels "1;Prof;B;19;18;Male;139750",..: 1 112 223 332 343 354 365 376 387 2 ...